@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.hide {
  display: none;
}

#alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ff0000;
  color: #ffffff;
  font-size: 24px;
  padding: 20px;
  border-radius: 5px;
  animation: slideIn 0.5s ease-in-out;
}

#logo {
  width: 150px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(252, 252, 252);
  padding: 20px;
  color: #333;
}

#banner {
  height: 60px;
  text-align: right;
}
#warning-title {
  margin: unset;
}

#info-text,
#preventive-measures {
  margin-top: 20px;
}

#green-text {
  text-align: center;
  color: rgb(10, 131, 53);
  font-size: large;
}

#button-container {
  text-align: center;
  margin-top: 20px;
}

#button {
  font-size: 16px;
  background-color: rgb(10, 131, 53);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

#button:hover {
  background-color: #218838;
}

#photo-container {
  text-align: center;
  margin-top: 20px;
}

#footer {
  font-size: 12px;
  margin-top: 20px;
  text-align: center;
}
